AUTH_SECRET=your-random-secret-here
AUTH_USERNAME=yoqub
AUTH_PASSWORD_HASH=fc30043c381b6e6c79faae8309f4484ab9317a58ae4afaa328b5e926f350878f
AUTH_URL=https://my-yoqubkhoja-tj.vercel.app
NEXT_PUBLIC_SITE_URL=https://my-yoqubkhoja-tj.vercel.app
